#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
// 从 TEXTINCLUDE 2 资源生成。
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE 4, 2
#pragma code_page(936)

/////////////////////////////////////////////////////////////////////////////
// 图标
IDI_MYCODE				ICON         "res//pic//file_manager.ico"

/////////////////////////////////////////////////////////////////////////////
// DESIGNINFO

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
// TEXTINCLUDE
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
	"#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//
IDB_MENU_SET            BITMAP                  "res\\pic\\menu_sel.bmp"


/////////////////////////////////////////////////////////////////////////////
// 字符串表

STRINGTABLE
BEGIN
   IDC_LOCALFILEMANGE          "localfile"
   IDS_APP_TITLE               "localfilemanage"
END


//  FILE菜单
IDR_FILEMENU MENU 
BEGIN
    POPUP "主菜单"
    BEGIN
        MENUITEM "导入",                        ID_FILEMENU_IMPORT
        MENUITEM "导出",                        ID_FILEMENU_EXPORT
        MENUITEM SEPARATOR
        MENUITEM "文档另存为",                  ID_FILEMENU_SASEAS
        MENUITEM "另存到移动设备",              ID_FILEMENU_SASETOMOBILE
		MENUITEM SEPARATOR
		MENUITEM "退出",                        ID_FILEMENU_EXIT
    END
END

//  VIEW菜单
IDR_VIEWMENU MENU 
BEGIN
    POPUP "主菜单"
    BEGIN
        MENUITEM "全屏",                        ID_VIEWMENU_FULLSCREEN
        MENUITEM "显示/隐藏分类树",             ID_VIEWMENU_SHOWCLASSTREE
        MENUITEM SEPARATOR
        POPUP "皮肤"
        BEGIN
            MENUITEM "默认",                    ID_VIEWMENU_SKIN_DEFAULT
            MENUITEM "书香",                    ID_VIEWMENU_SKIN_BOOK
			MENUITEM "灰色",                    ID_VIEWMENU_SKIN_GRAY
        END

        MENUITEM "自定义工具栏...",             ID_VIEWMENU_CUSTOMTOOLS
    END
END

//  TOOL菜单
IDR_TOOLMENU MENU
BEGIN
    POPUP "主菜单"
    BEGIN
        MENUITEM "选项",                        ID_TOOLMENU_OPTION
        MENUITEM "查看日志文件",                ID_TOOLMENU_VIEWLOG
        MENUITEM SEPARATOR
        MENUITEM "插件管理",                    ID_TOOLMENU_PLUGIN
    END
END

//  HELP菜单
IDR_HELPMENU MENU
BEGIN
    POPUP "主菜单"
    BEGIN
        MENUITEM "用户手册",                    ID_HELPMENU_HELPDOC
		MENUITEM "个人首页",                    ID_HELPMENU_HOMEPAGE
		MENUITEM SEPARATOR
        MENUITEM "邀请朋友",                    ID_HELPMENU_INVITE
        MENUITEM SEPARATOR
        MENUITEM "检查新版本",                  ID_HELPMENU_CHECKVERSION
        MENUITEM SEPARATOR
		MENUITEM "用户论坛",                    ID_HELPMENU_BBS
		MENUITEM SEPARATOR
        MENUITEM "关于",                        ID_HELPMENU_ABOUT
    END
END


#endif
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
// 从 TEXTINCLUDE 3 资源生成。

/////////////////////////////////////////////////////////////////////////////
#endif    // 不是 APSTUDIO_INVOKED
